## Ignore Visual Studio temporary files, build results, and
## user-specific files.

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
bld/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]*/
[Aa][Rr][Mm]64/

# .NET Core
project.lock.json
project.fragment.lock.json

# MSBuild binary log
*.binlog

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# XUnit
*.xunit.xml

# Coverage
coverage/
coverage*.json
coverage*.xml
*.codecov

# Code coverage reports
*.lcov
*.coverage
*.coveragexml
CodeCoverage/

# Static analysis and logs
*.sarif

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet packages
*.nupkg
*.snupkg

# Backup & patch files
*.orig
*.rej

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.vspscc
*.vssscc

# Visual Studio folders
.vs/
.vscode/
.localhistory/

# Rider project files
.idea/
*.sln.iml

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac system files
.DS_Store

# Linux and macOS swap/backup files
*~
.*.swp
.*.swo

# Other IDEs or editors
*.kate-swp

# Logs
*.log

# Temporary files
~$*

# Global JSON
global.json
/testing.api.sln
